@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url(./Fonts/Poppins/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url(./Fonts/Poppins/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url(./Fonts/Poppins/Poppins-Italic.ttf);
    font-weight: italic;
  }

@font-face {
    font-family: Poppins;
    src: url(./Fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
  }

@layer body {
    body , html {
        font-family: Poppins !important;
        overflow-x: hidden !important;
    }
}